.navbar{
    border-bottom: solid 0.1px;
    border-color:rgb(231, 243, 245);
}

.logo-img{
    width: 60px;
    height: 60px;
    background-color: gray;
}

/* .logo-text{
    font-weight: 460;
} */

.nav-items li{
    border-radius: 15px;
    /* font-weight: 600; */
    transition: ease-in-out 0.3s;    
}

.nav-items li:hover{
    background-color: rgb(54, 75, 254);
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s;    
}